// Basic styling rules 
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


/* Button styling */
.styled-btn {
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: #6A5ACD;
  color: #fff;
  transition: all 0.5s ease;
  font-family: 'Roboto Slab';
  text-decoration: none;
  border: none;

  &:hover {
    color: #000;
    background-color: #fff;
  }
}

/* Headers and body text */
body {
  font-family: 'Arial';
  background: #d3d6e2;
  color: #212121;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Roboto Slab';
  span{
    font-family: 'Roboto Slab';
    font-weight: bold;
    }
}

h3, h4 {
  font-family: 'Roboto Slab';
}

p {
  font-size: 1rem;
  margin: 1rem 0;
  line-height: 1.2rem;
  span {
    color: #6A5ACD;
  }
}

.mainFooter {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
  padding: 1rem 3rem;
  background: #282828;
  color: #fff;
  text-align: center;

  .contactIcon {
    margin: 0 0.5rem;
    padding: 0.2rem;
  }

  a {
    color: #fff;
    text-decoration: none;

    :hover {
      color: #6A5ACD;
    }
  }
}


// imported styles
@import "./aboutpage";
@import "./contact";